# Database Configuration
MONGO_URL=mongodb+srv://homescape374:8j4tUY19bAaIY59V@cluster.ugapumj.mongodb.net/HomeVerse?retryWrites=true&w=majority&appName=Cluster

# Server Configuration
PORT=5000
NODE_ENV=development

# JWT Secret
JWT_SECRET=hello

# Cloudinary Configuration
# Get these from your Cloudinary Dashboard: https://cloudinary.com/console
CLOUDINARY_CLOUD_NAME=dlgefklou
CLOUDINARY_API_KEY=784663456471574
CLOUDINARY_API_SECRET=EeYvlO83uw_bCxcvBhTSdb3gLQo

# Session Secret
SESSION_SECRET=your_session_secret_here

# Other Configuration
FRONTEND_URL=http://localhost:5174
